version: '3'

services:

  pyscript:
    image: chaz003/git_runner:arm1.0
    # image: chaz003/git_runner:x64_1.1
    
    volumes:
      - /some/local/folder:/data
    environment:
      - TZ=America/New_York

    #restart: unless-stopped
